
    .Logo{
    width: 110.999px;
    height: 38px;
    flex-shrink: 0;
    color: #E8E8E8;
    }
    .Button_copy{
        width: 169px;
    height: 37px;
    flex-shrink: 0;
    color:#E8E8E8;
    }
    