* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    margin: 20px;
    padding: 20px;
}

:root {
    --white: #FFF;
}

.main-container {
    width: 1921px;
    height: 1030px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.40) 100%);
    backdrop-filter: blur(100px);
}

.menu-link {
    color: var(--ffffff,--white);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.header-info {
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    width: 604px;
}
:root {
    --blue: #3A68B8;
}

.sub-info {
    color: var(--blue);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    width: 265px;
}
.header {
    width: 1920px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.02;  /* Близкое приближение к 0.019999999552965164 для упрощения */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, #FFF 100%);
    backdrop-filter: blur(100px);
}
.fixed-image {
    width: 414px;
    height: 415px;
}
.content-container {
    width: 1425px;
    height: 592px;
    flex-shrink: 0;
}