* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #020A18;
    width: 1921px;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.main-container {
    
    background-color: #020A18;
    color: #FFFFFF;
}
.main{
    display: flex;
    width: 1146px;
    height: 415px;
    flex-direction: row;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.fixed-image {
    width: 414px;
    height: 415px;
}

.info_h1 {
    display: flex;
    width: 604px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFFFFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.sub-info {
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    width: 265px;
}
.info {
display: flex;
width: 1146px;
height: 415px;
flex-direction: row;
padding: 50px;

}
.info_paragraph {
    display: flex;
    width: 558px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}
.info_buttons {
display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border: radius 5px;
background: #3A68B8

}
.img_polygon {
width: 26px;
height: 27px;
}
.Botton{
    display: flex;
    text-align: center;
    gap: 10px;
    width: 1146.449px;
    height: 59px;
}
